.SkillSequenceImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shaded-title {
    background-color: #f0f0f0; /* Light grey background for shading */
    padding: 10px 20px;        /* Padding inside the box */
    border: none;              /* No border */
    text-align: center;        /* Center the text */
    font-size: 18px;           /* Adjust font size for h5 */
    font-weight: bold;         /* Make the title bold */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    border-radius: 4px;        /* Rounded corners */
    width: 50%;                /* Make the box half the width of the container */
    margin: 0 auto;            /* Center the box within the column */
}

.SkillSequenceResetContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.SkillSequenceFrame {
    width: 600; /* picture */
    height: 450px; /* picture */
}

.rounded-pill
{
    border-radius: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.prevButton,
.nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000; /* 添加黑色边框 */
    border-radius: 5px; /* 圆角效果，可选 */
}

.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000; /* 添加黑色边框 */
    border-radius: 5px; /* 圆角效果，可选 */
}

/* CSS for the toggleable div */
#myDiv {
    display: none; /* Initially hide the div */
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 10px;
}

/* Style the toggle title */
.toggle-title {
    cursor: pointer; /* Make it clickable */
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-left: 20px; /* Space for the triangle */
}

/* Add the triangle before the title */
.toggle-title::before {
    content: "\25B6"; /* Right-pointing triangle (closed state) */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 1.5; /* Adjust based on title size */
}

/* When the div is open, change the triangle to down-pointing */
.toggle-title.open::before {
    content: "\25BC"; /* Down-pointing triangle (open state) */
}
