.SkillSequenceImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SkillSequenceResetContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.SkillSequenceFrame {
    width: 600; /* picture */
    height: 450px; /* picture */
}

.prevButton,
.nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000; /* 添加黑色边框 */
    border-radius: 5px; /* 圆角效果，可选 */
}

.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000; /* 添加黑色边框 */
    border-radius: 5px; /* 圆角效果，可选 */
}


